In [36]:
import os
import csv
import pandas as pd
import numpy as np

In [37]:
#Collecting data from Resources folder

#Mortality rates

file_path = os.path.join("..","Resources", "Excess_mortality_during_COVID-19_pandemic.csv")

excess_mortality_df = pd.read_csv(file_path)

excess_mortality_df.head()

,country,region,period,year,month,week,date,deaths,expected_deaths,excess_deaths,excess_deaths_pct
0,#country+name,#loc+name,#date+reported,#date+reported+yy,#date+reported+mm,#date+reported+week,#date+end,#affected+killed,#affected+killed+expected,#affected+killed+excess,#affected+killed+expected+pct
1,Italy,Bergamo city,week,2015,1,2,2015-01-15,39,36,3,8.333333333333329
2,Italy,Bergamo city,week,2015,1,3,2015-01-22,31,31,0,0
3,Italy,Bergamo city,week,2015,1,4,2015-01-29,41,39,2,5.128205128205138
4,Italy,Bergamo city,week,2015,2,5,2015-02-05,31,31,0,0

In [38]:
excess_mortality_df.describe()

,country,region,period,year,month,week,date,deaths,expected_deaths,excess_deaths,excess_deaths_pct
count,62916,62916,62916,62916,62916,62415,62916,62916,62890,62890,62890
unique,26,201,3,12,13,53,2585,6672,3284,2969,34285
top,US,Antofagasta,week,2018,4,15,2017-04-30,23,26,0,0
freq,20676,557,62414,9814,5853,1286,114,237,365,8649,8649

In [39]:
#Finding unique locations
excess_mortality_df["country"].unique()

array(['#country+name', 'Italy', 'Netherlands', 'Ecuador', 'Spain',
       'France', 'Turkey', 'Indonesia', 'Russia', 'Brazil', 'Peru',
       'Chile', 'Mexico', 'US', 'UK', 'Belgium', 'Portugal', 'Denmark',
       'Austria', 'Germany', 'Sweden', 'South Africa', 'Norway', 'Israel',
       'Iceland', 'Switzerland'], dtype=object)

In [40]:
#remove all countries except US
clean_df = excess_mortality_df[~excess_mortality_df["country"].str.contains('Italy')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Netherlands')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Ecuador')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Spain')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('France')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Turkey')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Indonesia')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Russia')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Brazil')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Peru')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Chile')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Mexico')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('UK')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Belgium')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Portugal')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Denmark')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Austria')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Germany')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Sweden')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('South Africa')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Norway')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Israel')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Iceland')]
clean_df = clean_df[~excess_mortality_df["country"].str.contains('Switzerland')]

clean_df["country"].unique()

<ipython-input-40-23e1dcca6101>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Netherlands')]
<ipython-input-40-23e1dcca6101>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Ecuador')]
<ipython-input-40-23e1dcca6101>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Spain')]
<ipython-input-40-23e1dcca6101>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('France')]
<ipython-input-40-23e1dcca6101>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Turkey')]
<ipython-input-40-23e1dcca6101>:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Indonesia')]
<ipython-input-40-23e1dcca6101>:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Russia')]
<ipython-input-40-23e1dcca6101>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Brazil')]
<ipython-input-40-23e1dcca6101>:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Peru')]
<ipython-input-40-23e1dcca6101>:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Chile')]
<ipython-input-40-23e1dcca6101>:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Mexico')]
<ipython-input-40-23e1dcca6101>:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('UK')]
<ipython-input-40-23e1dcca6101>:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Belgium')]
<ipython-input-40-23e1dcca6101>:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Portugal')]
<ipython-input-40-23e1dcca6101>:17: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Denmark')]
<ipython-input-40-23e1dcca6101>:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Austria')]
<ipython-input-40-23e1dcca6101>:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Germany')]
<ipython-input-40-23e1dcca6101>:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Sweden')]
<ipython-input-40-23e1dcca6101>:21: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('South Africa')]
<ipython-input-40-23e1dcca6101>:22: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Norway')]
<ipython-input-40-23e1dcca6101>:23: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Israel')]
<ipython-input-40-23e1dcca6101>:24: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Iceland')]
<ipython-input-40-23e1dcca6101>:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_df = clean_df[~excess_mortality_df["country"].str.contains('Switzerland')]

array(['#country+name', 'US'], dtype=object)

In [41]:
clean_df["year"].unique()

array(['#date+reported+yy', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020'], dtype=object)

In [42]:
clean_US_df = clean_df[~clean_df["year"].str.contains('2013')]
clean_US_df = clean_US_df[~clean_df["year"].str.contains('2014')]
clean_US_df = clean_US_df[~clean_df["year"].str.contains('2015')]
clean_US_df = clean_US_df[~clean_df["year"].str.contains('2016')]
clean_US_df = clean_US_df[~clean_df["year"].str.contains('2017')]
clean_US_df = clean_US_df[~clean_df["year"].str.contains('2018')]
clean_US_df = clean_US_df[~clean_df["year"].str.contains('2019')]

clean_US_df["year"].unique()

<ipython-input-42-e89c40057390>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2014')]
<ipython-input-42-e89c40057390>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2015')]
<ipython-input-42-e89c40057390>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2016')]
<ipython-input-42-e89c40057390>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2017')]
<ipython-input-42-e89c40057390>:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2018')]
<ipython-input-42-e89c40057390>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  clean_US_df = clean_US_df[~clean_df["year"].str.contains('2019')]

array(['#date+reported+yy', '2020'], dtype=object)

In [43]:
clean_US_df.head(50)

,country,region,period,year,month,week,date,deaths,expected_deaths,excess_deaths,excess_deaths_pct
0,#country+name,#loc+name,#date+reported,#date+reported+yy,#date+reported+mm,#date+reported+week,#date+end,#affected+killed,#affected+killed+expected,#affected+killed+excess,#affected+killed+expected+pct
30807,US,Alabama,week,2020,1,1,2020-01-04,1094,1125,-31,-2.75555555555556
30808,US,Alabama,week,2020,1,2,2020-01-11,1148,1142,6,0.5253940455341564
30809,US,Alabama,week,2020,1,3,2020-01-18,1076,1151,-75,-6.51607298001737
30810,US,Alabama,week,2020,1,4,2020-01-25,1085,1072,13,1.2126865671641838
30811,US,Alabama,week,2020,2,5,2020-02-01,1055,1115,-60,-5.381165919282509
30812,US,Alabama,week,2020,2,6,2020-02-08,1123,1101,22,1.9981834695731209
30813,US,Alabama,week,2020,2,7,2020-02-15,1104,1109,-5,-0.4508566275924153
30814,US,Alabama,week,2020,2,8,2020-02-22,1116,1094,22,2.0109689213893915
30815,US,Alabama,week,2020,2,9,2020-02-29,1182,1069,113,10.570626753975688
30816,US,Alabama,week,2020,3,10,2020-03-07,1097,1079,18,1.668211306765528
30817,US,Alabama,week,2020,3,11,2020-03-14,1099,1103,-4,-0.3626473254759759
30818,US,Alabama,week,2020,3,12,2020-03-21,1087,1035,52,5.024154589371975
30819,US,Alabama,week,2020,3,13,2020-03-28,1093,1004,89,8.8645418326693175
30820,US,Alabama,week,2020,4,14,2020-04-04,1174,1028,146,14.202334630350194
30821,US,Alabama,week,2020,4,15,2020-04-11,1144,1031,113,10.960232783705152
30822,US,Alabama,week,2020,4,16,2020-04-18,1153,996,157,15.763052208835333
30823,US,Alabama,week,2020,4,17,2020-04-25,1151,1004,147,14.641434262948223
30824,US,Alabama,week,2020,5,18,2020-05-02,1155,986,169,17.139959432048684
30825,US,Alabama,week,2020,5,19,2020-05-09,1187,990,197,19.89898989898991
30826,US,Alabama,week,2020,5,20,2020-05-16,1162,1010,152,15.049504950495034
30827,US,Alabama,week,2020,5,21,2020-05-23,1146,995,151,15.175879396984925
30828,US,Alabama,week,2020,5,22,2020-05-30,1116,976,140,14.344262295081961
30829,US,Alabama,week,2020,6,23,2020-06-06,1181,1010,171,16.930693069306926
30830,US,Alabama,week,2020,6,24,2020-06-13,1138,939,199,21.192758253461122
30831,US,Alabama,week,2020,6,25,2020-06-20,1087,984,103,10.46747967479675
30832,US,Alabama,week,2020,6,26,2020-06-27,1160,949,211,22.233930453108528
30833,US,Alabama,week,2020,7,27,2020-07-04,1223,965,258,26.735751295336783
30834,US,Alabama,week,2020,7,28,2020-07-11,1267,985,282,28.629441624365484
30835,US,Alabama,week,2020,7,29,2020-07-18,1273,964,309,32.05394190871368
30836,US,Alabama,week,2020,7,30,2020-07-25,1334,942,392,41.613588110403384
30837,US,Alabama,week,2020,8,31,2020-08-01,1364,959,405,42.231491136600624
30838,US,Alabama,week,2020,8,32,2020-08-08,1311,937,374,39.914621131269996
30839,US,Alabama,week,2020,8,33,2020-08-15,1229,980,249,25.40816326530613
30840,US,Alabama,week,2020,8,34,2020-08-22,1159,956,203,21.23430962343096
30841,US,Alabama,week,2020,8,35,2020-08-29,957,951,6,0.6309148264984117
31199,US,Alaska,week,2020,1,1,2020-01-04,91,88,3,3.4090909090909207
31200,US,Alaska,week,2020,1,2,2020-01-11,108,91,17,18.681318681318686
31201,US,Alaska,week,2020,1,3,2020-01-18,103,96,7,7.291666666666671
31202,US,Alaska,week,2020,1,4,2020-01-25,102,88,14,15.90909090909092
31203,US,Alaska,week,2020,2,5,2020-02-01,91,86,5,5.813953488372107
31204,US,Alaska,week,2020,2,6,2020-02-08,95,91,4,4.395604395604408
31205,US,Alaska,week,2020,2,7,2020-02-15,93,84,9,10.714285714285722
31206,US,Alaska,week,2020,2,8,2020-02-22,89,79,10,12.658227848101262
31207,US,Alaska,week,2020,2,9,2020-02-29,92,91,1,1.098901098901095
31208,US,Alaska,week,2020,3,10,2020-03-07,83,90,-7,-7.7777777777777715
31209,US,Alaska,week,2020,3,11,2020-03-14,94,87,7,8.045977011494259
31210,US,Alaska,week,2020,3,12,2020-03-21,68,80,-12,-15
31211,US,Alaska,week,2020,3,13,2020-03-28,92,85,7,8.235294117647058
31212,US,Alaska,week,2020,4,14,2020-04-04,101,87,14,16.091954022988503

In [44]:
clean_US_final_df= clean_US_df.groupby(['month']).agg({"deaths":'max',
                                                   "expected_deaths":'max',
                                                       "excess_deaths": 'max',
                                                        })
clean_US_final_df.head()

,deaths,expected_deaths,excess_deaths
month,,,
#date+reported+mm,#affected+killed,#affected+killed+expected,#affected+killed+excess
1,994,997,98
2,997,994,97
3,997,998,97.5
4,957,997.5,97

In [45]:
clean_US_final1_df = clean_US_final_df.drop(index = '#date+reported+mm')
clean_US_final1_df.head(10)

      deaths expected_deaths excess_deaths
month
1        994             997            98
2        997             994            97
3        997             998          97.5
4        957           997.5            97
5        993             999            97
6         99             984            97
7         99             994            98
8        998              99            99

In [46]:
clean_US_final2_df = clean_US_final1_df.rename(index = {'1': 'Jan 2020', '2': 'Feb 2020', '3': 'Mar 2020', '4': 'Apr 2020', '5': 'May 2020', '6': 'Jun 2020', '7': 'July 2020', '8': 'Aug 2020' })
clean_US_final2_df.head()

         deaths expected_deaths excess_deaths
month
Jan 2020    994             997            98
Feb 2020    997             994            97
Mar 2020    997             998          97.5
Apr 2020    957           997.5            97
May 2020    993             999            97

In [47]:
clean_US_final2_df['deaths'] = clean_US_final2_df.deaths.astype(int)
clean_US_final2_df['expected_deaths'] = pd.to_numeric(clean_US_final2_df['expected_deaths'])
clean_US_final2_df['excess_deaths'] = pd.to_numeric(clean_US_final2_df['excess_deaths'])

In [48]:
clean_US_final2_df.dtypes

deaths               int32
expected_deaths    float64
excess_deaths      float64
dtype: object

In [49]:
cols = ['expected_deaths', 'excess_deaths']
clean_US_final2_df[cols] = clean_US_final2_df[cols].applymap(np.int64)
print(clean_US_final2_df)

           deaths  expected_deaths  excess_deaths
month
Jan 2020      994              997             98
Feb 2020      997              994             97
Mar 2020      997              998             97
Apr 2020      957              997             97
May 2020      993              999             97
Jun 2020       99              984             97
July 2020      99              994             98
Aug 2020      998               99             99

In [50]:
clean_US_final2_df.dtypes

deaths             int32
expected_deaths    int64
excess_deaths      int64
dtype: object