In [3]:
# Load JSON
filepath = os.path.join("..", "Resources", "owid-covid-data.json")
with open(filepath) as jsonfile:
    json_data = json.load(jsonfile)

In [ ]:
pip install covid

In [2]:
# Dependencies
import json
import os
import pandas as pd

In [ ]:
#json_data

In [14]:
json_data.keys()
len(json_data)

214

In [ ]:
country=[]
country_abbrev=[]
column_names=[]
data= []
#data_df

In [ ]:
#test_names= json_data["ABW"]
#test_names

In [ ]:
##test_names2= json_data["ABW"]["data"]
##test_names2

In [ ]:
for country_code in json_data.keys():
    column_names = json_data[country_code]
    country_abbrev.append(country_code)
    country.append(json_data[country_code]['location'])
    data.append(json_data[country_code]['data'])

In [ ]:
data[0][0]

In [ ]:
#len(data)

In [25]:
names=[]
data=[]
continents=[]
max_date=[]
min_date=[]
max_strin=[]
min_strin=[]
code=[]
for country_code in json_data.keys():

#     if json_data[country_code]["continent"]:
#     continents.append(json_data[country_code]["continent"])
    data.append(json_data[country_code]['data'])
    data_df= pd.DataFrame(data[0])
    data=[]
    try:
        data_df = data_df[["date", "stringency_index"]]
        data_df=data_df.dropna()
        code.append(country_code)
        names.append(json_data[country_code]["location"])
        newdf1=data_df.loc[(data_df["date"] == data_df["date"].min())]
        min_date.extend(newdf1["date"].tolist())
        min_strin.extend(newdf1["stringency_index"].tolist())
        newdf= data_df.loc[(data_df["date"] == data_df["date"].max())]
        max_date.extend(newdf["date"].tolist())
        max_strin.extend(newdf["stringency_index"].tolist())   
    except KeyError:
        None

In [26]:
len(names)

181

In [27]:
data_df=pd.DataFrame({"Country":names, "Code":code, "Min_date":min_date,"Min Stringency":min_strin, "Max_Date": max_date, "Max Stringency": max_strin})
data_df

,Country,Code,Min_date,Min Stringency,Max_Date,Max Stringency
0,Aruba,ABW,2020-03-13,0.00,2020-11-03,37.04
1,Afghanistan,AFG,2020-01-01,0.00,2020-11-08,5.56
2,Angola,AGO,2020-03-22,11.11,2020-10-31,65.74
3,Anguilla,AIA,2020-03-27,71.30,2020-09-27,24.07
4,Albania,ALB,2020-03-09,36.11,2020-11-08,50.93
...,...,...,...,...,...,...
176,Kosovo,OWID_KOS,2020-03-14,72.22,2020-11-07,60.19
177,Yemen,YEM,2020-04-10,40.74,2020-11-09,24.07
178,South Africa,ZAF,2020-02-07,2.78,2020-10-29,38.89
179,Zambia,ZMB,2020-03-19,16.67,2020-10-29,41.67
180,Zimbabwe,ZWE,2020-03-21,27.78,2020-10-29,71.30

In [24]:
data=data_df.dropna()
data

       Country Code    Min_date  Min Stringency    Max_Date  Max Stringency
20      Belize  BLZ  2020-03-24           54.63  2020-11-10           66.67
24    Barbados  BRB  2020-03-18           38.89  2020-11-10           40.74
34    Cameroon  CMR  2020-03-07            0.00  2020-11-10           45.37
72   Hong Kong  HKG  2020-01-31           49.07  2020-11-03           51.85
134  Palestine  PSE  2020-03-06           74.07  2020-11-10           40.74

In [ ]:
data_df= pd.DataFrame(data[0])
data_df ###gives ABW only ##238 rows

In [ ]:
new_df = data_df[["date", "stringency_index"]]
new_df=new_df.loc[(new_df["date"] == new_df["date"].min()) | (new_df["date"] == new_df["date"].max())]
#new_df["stringency_index"]=
new_df

In [ ]:
#for records in column_names:
 #   data.append(column_names[records])
    
#data

In [ ]:
#data_df= pd.DataFrame(data)
#data_df

In [ ]:
# Isolate "data items" for easy reading

#continent = json_data["continent"]

#location = json_data["location"]

#data = json_data["data"]
#data_items = data["items"]

# Retrieve the video's title
#title = data_items[0]["title"]
#print("Title: ", title)# Isolate "data items" for easy reading
#data = video_json["data"]
#data_items = data["items"]

# Retrieve the video's title
#title = data_items[0]["title"]
#print("Title: ", title)